body {
    background:url(../img/BG.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    width: 550px;
    margin: 30px auto;
}

.col {
    width: 250px;
    float: left;
}

.col.left {
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 0px #fff;
    color: #333;
    padding-bottom: 10px;
}

.col.right {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #aaa;
}

h1 {
    font-weight: 100;
    font-size: 20px;
    font-family:Myriad Pro;
    text-transform:uppercase;
    text-shadow: #fff 2px 2px 2px;
   margin: 0;
}

h2 {
    margin-left:20px;
    font-size:20px;
    font-weight:bold;
    font-family:Myriad Pro;
    text-transform:uppercase;
    position:absolute;
    text-shadow: #fff 2px 2px 2px;
}

.btn {
    background-color: #8E8E8E;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    box-shadow: 2px 2px 2px #111;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 10px 0;
}

.btn span {
    font-size: 16px;
    line-height: 40px;
}

.btn:active {
    top: 1px;
    box-shadow: 1px 1px 2px #000;
}

.btn i {
    margin-right: 10px
}

.facebook {
    background-color: #3B5998;
}

.facebook i {
    float: left;
    width: 44px;
    height: 40px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}

.twitter {
    background-color: #1CB5E8;
}

.twitter i {
    float: left;
    width: 44px;
    height: 40px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAi5JREFUeNrs2M1LVFEYx3GvDoWvEKSMhhqBSrhQjCwXRuDKjbVoIYgQbVy0CXduWgT+BS5cSgUJvdmmVb4giIHRSpTEUjcGLnwtDUy7fQ88wnVQ5zlzzyyE88AHFY7n/uaZc+85M0EYhjnnqXJzzln5wD6wD+wD+8DWdRV9+IxFfMRDFETGFKFBNZvZ6ZTuotFivHELX/EvPF4HeIU6tGEEzzRzai9chHG5eJXyf2qwEJ5dO/JzCmWaebVLogQVaMJ7NKcZn4cnqE0zrhjbWECvyzUcSAhTN/ABj3HhlPGluK+c26zlLqy5XMMlGE15O826nEYnLiOIjK89Yd2eVht4oL0vEsou7OAN2lK63iLm8Akz+IFL+HvGOxCtbxjXPnISFuNe4yYeSdho1QtTm/gdWUKaynP9HE5iQH5fTzPWdLfSIsRP7Lru8B6uy1Pi0PHG8l3md9rhDby0ffs09zzms7U1v8A7x91dli07K4FNl3vQj1XpTtyalCWRtcOPWWtLcqG9mGHNo/K57QtPWF5kH/fQ4aC7I/LCLVe93enLqMaXMF4tWRyiMjqtnRR6EKv4Yxl2C+0ZXjfjwEeuYdgi7C664lxTOzA35e+kHLzfYl8Zdg3dMRukvunuoBX5svU2y66nrTE8xXTcO1Ub2Oz3F+WzWLnF/BMYkvPzLxc7TWD57WVSDvCm47dxBYXyPD+QUCvSSRN2Flsut8bAf93qA/vAPrAP7APb1H8BBgDZp0G+vm9PBgAAAABJRU5ErkJggg==") no-repeat center center;
}

.plus {
    padding-left: 54px;
    background-color: #393838;
}

.plus .i {
    border-radius: 3px;
    position: absolute;
    border-top: 8px solid #D64335;
    width: 44px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-right: 1px solid #343434;
    line-height: 26px;
}

.plus i:before {
    content: "g";
    font: 26px "Palatino Linotype", Georgia, serif;
    text-shadow: 1px 1px 1px #444;
    line-height: 0px;
    margin-left: 10px;
}

.plus i:after {
    content: "+";
    border-left: 11px solid #426AAD;
    background-color: #32A45E;
    border-right: 11px solid #F8CA32;
    width: 11px;
    font: 18px "Palatino Linotype", Georgia, serif;
    line-height: 38px;
    position: absolute;
    top: -8px;
    left: 12px;
    height: 8px;
}

