<!-- Load stylesheets -->
<link type="text/css" rel="stylesheet" href="css/style.css" media="screen" />
<!-- // Load stylesheets -->


<div id="wrapper"  >
		<div id="wrappertop"></div>

		<div id="wrappermiddle" >

			<h2>Login</h2>

			<div id="username_input">

				<div id="username_inputleft"></div>

				<div id="username_inputmiddle">

					<input type="text" name="link" id="email" ng-model="email" placeholder="Email address">
					<img id="url_user" src="../app/img/mailicon.png" alt="">

				</div>

				<div id="username_inputright"></div>

			</div>

			<div id="password_input">

				<div id="password_inputleft"></div>

				<div id="password_inputmiddle">
					<input type="password" name="link" id="pwd" ng-model="password" placeholder="Password">
					<img id="url_password" src="../app/img/passicon.png" alt="">
				</div>

				<div id="password_inputright"></div>

			</div>

			<div id="submit" >
                <button type="button" class="btn btn-success" ng-click="login()">Login</button>
			</div>


			<div id="links_left">

			<a href="#">Forgot your Password?</a>

			</div>

			<div id="links_right"><a href="#">Not a Member Yet?</a></div>

		</div>

		<div id="wrapperbottom"></div>

	</div>

