<!-- Load stylesheets -->
<link type="text/css" rel="stylesheet" href="../../../css/register.css" media="screen" />
<link type="text/css" rel="stylesheet" href="../../../css/style.css" media="screen" />
<!-- // Load stylesheets -->


<div class="row">
    <div class="wrapper">
        <h1>Sign up with:</h1>
        <p><small>
            My Pet world can be registered with your existing social networking site accounts. We will not share your personal detail with anyone.
        </small></p>
    </div>
    <div class="col right">
        <button class="btn facebook" data-provider="facebook"><i></i><span>Facebook</span></button>
        <button class="btn twitter" data-provider="twitter"><i></i><span>Twitter</span></button>
        <button class="btn plus" data-provider="google plus"><span class="i"><i></i></span><span>Google Plus</span></button>
    </div>
</div>