<link type="text/css" rel="stylesheet" href="css/mainstyle.css" media="screen" />
<div id="pagebody">
	<div id="profilearea">
		<p><img id="displaypic" src="img/Trollface.png"/><br/><h3><span id="username">John Doe</span>'s Profile</h3></p>
		
		<div id="userprofileelements">
		<p>Name: {{user.firstName}} {{user.lastName}}</p>
		<p>Age: {{user.age}}</p>
		<p>Country {{user.country}}</p>
		<p>Email: {{user.emailAddress}}</p>
		</div>

		
		<p><h3>Pets</h3></p>
		<div><img id="displaypic" src="img/Trollface.png"/>&nbsp;Wolfy </div>
		<div><img id="displaypic" src="img/Trollface.png"/>&nbsp;Kuttaz</div>
	</div>

</div>
